node_modules
.git
.github
.env
.env.*
!.env.example
vitepaper.local.ts
content/.vitepress/cache
content/.vitepress/dist
content/.vitepress/dist-next
content/.vitepress/dist-old
content/posts/*.md
content/public/attachments/*
